<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen" class="sidenav">
    <!-- Conteúdo do menu -->
    <mat-nav-list>
      <a mat-list-item routerLink="/lista-registros-prestador" (click)="toggleMenu()">Prestadores de Serviço</a>
      <a mat-list-item routerLink="/lista-registros-Tomador" (click)="toggleMenu()">Tomadores de Serviço</a>
      <a mat-list-item routerLink="/lista-registros-usuarios" (click)="toggleMenu()">Usuários</a>
      <a mat-list-item routerLink="/cadastro-emissao-periodica" (click)="toggleMenu()">Cadastro Emissões Periódicas</a>
      <a mat-list-item routerLink="/simulador-sn" (click)="toggleMenu()">Simulador SN</a>
      <!-- Adicione mais itens de menu conforme necessário -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Conteúdo principal da aplicação -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Hass</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
